<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/Exam%201%20review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

# exam review

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

lets go to sql data base of # bigquery-public-data.london_fire_brigade.fire_brigade_service_calls

In [3]:
%%bigquery --project data-viz-338818
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   total_rows
0       32247

general data set view with 50 rows

In [28]:
%%bigquery --project data-viz-338818
SELECT *
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 50

    incident_number  ... num_pumps_attending
0   000320-01012017  ...                   2
1   003727-09012017  ...                   2
2   003762-09012017  ...                   2
3   006403-16012017  ...                   2
4   010947-26012017  ...                   1
5   014169-03022017  ...                   5
6   016263-08022017  ...                   2
7   016865-09022017  ...                   1
8   017092-10022017  ...                   1
9   024609-27022017  ...                   1
10  025352-01032017  ...                   1
11  025355-01032017  ...                   2
12  033935-21032017  ...                   2
13  034332-22032017  ...                   2
14  034347-22032017  ...                   2
15  036063-26032017  ...                   2
16  037971-30032017  ...                   1
17  038036-30032017  ...                   1
18  039917-03042017  ...                   2
19  043780-10042017  ...                   1
20  044716-11042017  ...                   2
21  045573-13042017  ...                   1
22  046207-14042017  ...                   2
23  046427-15042017  ...                   1
24  001962-05012017  ...                   1
25  004931-12012017  ...                   1
26  005840-14012017  ...                   1
27  006160-15012017  ...                   2
28  009505-23012017  ...                   2
29  009794-23012017  ...                   1
30  012926-30012017  ...                   2
31  013064-31012017  ...                   1
32  013751-01022017  ...                   1
33  014869-04022017  ...                   2
34  018103-12022017  ...                   2
35  018603-13022017  ...                   2
36  019601-16022017  ...                   2
37  021437-20022017  ...                   1
38  021747-21022017  ...                   1
39  025040-28022017  ...                   2
40  027890-07032017  ...                   2
41  027941-07032017  ...                   1
42  029089-10032017  ...                   1
43  030309-13032017  ...                   3
44  033855-21032017  ...                   1
45  038280-30032017  ...                   4
46  038478-31032017  ...                   4
47  041007-05042017  ...                   2
48  042223-07042017  ...                   1
49  044222-10042017  ...                   1

[50 rows x 32 columns]

flase alarm after 10pm to 5 am

In [9]:

%%bigquery --project data-viz-338818
SELECT COUNT(*) as false_alarm_during_10pm_to_5am
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
where incident_group = "False Alarm" AND (hour_of_call >=22 OR hour_of_call <=4)

   false_alarm_during_10pm_to_5am
0                            3098

avarage

In [12]:
%%bigquery --project data-viz-338818
SELECT incident_group, AVG(num_pumps_attending) as Average_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  Average_pumps
0      False Alarm       1.725776
1             Fire       1.633012
2  Special Service       1.177192

max

In [33]:
%%bigquery --project data-viz-338818
SELECT property_category, MAX(num_pumps_attending) as max_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY property_category

   property_category  max_pumps
0           Dwelling          7
1    Non Residential          7
2  Other Residential          5
3               Boat          3
4  Outdoor Structure          5
5       Rail Vehicle          4
6            Outdoor          6
7       Road Vehicle          6
8           Aircraft          4

# wikipedia

okalohoma

In [16]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [21]:
r = requests.get('https://en.wikipedia.org/wiki/Oklahoma')
html_contents = r.text
html_soup = BeautifulSoup(html_contents)

In [22]:
len(html_soup.find_all('table'))

36

In [34]:
df = pd.read_html(str(oklahomatbl))[0]
df

NameError: ignored