<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/Exam%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

---


## EXAM 2

In [35]:
import pandas as pd
import numpy as np
import re

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head(20)

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,5,2022-01-01,Outdoor Cycling,5.47,117,144,NaN,2.20,43.47,291.67,...,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,6,2022-01-01,Indoor Cycling,6.28,66,378,NaN,10.65,23.83,253.84,...,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,...,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,...,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,9,2022-01-01,Pool Swimming,3.91,23,99,NaN,33.15,169.30,206.97,...,NaN,NaN,132.5,175.0,90,22,20,15,28,20
10,10,2022-01-01,Trail Run,6.31,107,97,2790.0,22.99,27.99,139.21,...,25:50,06:20,138.5,188.0,89,38,0,80,13,16
11,11,2022-01-01,Outdoor Running,2.37,65,524,7618.0,16.47,164.78,87.60,...,27:44,06:15,146.0,190.0,102,17,0,71,46,12
12,12,2022-01-01,Indoor Cycling,3.50,43,158,NaN,12.54,25.36,184.20,...,NaN,NaN,99.0,90.0,108,21,32,0,24,59
13,13,2022-01-01,Outdoor Cycling,1.86,111,195,NaN,19.95,15.99,317.51,...,NaN,NaN,134.5,177.0,92,26,45,15,64,84
14,14,2022-01-01,Freestyle,8.41,70,412,NaN,35.93,113.85,262.50,...,NaN,NaN,115.0,122.0,108,36,28,2,28,63
15,15,2022-01-01,Open Water,6.77,102,333,NaN,11.46,155.72,201.74,...,NaN,NaN,123.0,166.0,80,43,0,5,22,18
16,16,2022-01-01,Trekking,5.69,78,248,5028.0,3.22,47.35,321.79,...,24:45,07:45,108.5,124.0,93,19,50,0,23,96
17,17,2022-01-01,Trekking,6.54,118,496,5028.0,2.99,87.50,135.87,...,24:45,07:45,113.0,124.0,102,17,50,0,63,37
18,18,2022-01-01,Treadmill,1.89,108,150,4550.0,31.49,69.99,198.70,...,27:58,07:58,103.0,105.0,101,26,26,7,46,64
19,19,2022-01-01,Open Water,1.48,47,441,NaN,26.49,136.32,206.15,...,NaN,NaN,131.0,166.0,96,0,0,5,63,61

ltes check out data types

In [37]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

(b) (10 points) Remove the column that repeats the indexes and is ‘unnamed’ as a column.

In [38]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()
#https://stackoverflow.com/questions/43983622/remove-unnamed-columns-in-pandas-dataframe

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

(c) (10 points) Clean the column names to remove the unit declaration, (%), using regular expressions. The column name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming
columns without using regular expressions.

In [39]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

In [40]:
col = df.columns.map(lambda s: re.sub(r"\((.+)\)","",s))
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

https://github.com/ashpou1/data-processing-4313/blob/main/cleaning%20strings%2015.ipynb

(d) (10 points) Convert ‘activity day’ column into a datetime format.

In [41]:
df.activity_day = pd.to_datetime(df['activity_day'])
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max(%)                 int64
aerobic(%)                 int64
anaerobic(%)               int64
intensive(%)               int64
light(%)                   int64
dtype: object

https://github.com/nurfnick/Data_Viz/blob/main/mySolutions.ipynb

(e) (10 points) Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate
datatype.

In [42]:
df.isnull().sum(axis = 0)

activity_day        0
workout_type        0
distance            0
time                0
calories            0
total_steps       446
avg_speed           0
avg_cadence         0
max_cadence         0
avg_pace          446
max_pace          446
min_pace          446
avg_heart_rate      0
max_heart_rate      0
min_heart_rate      0
vo2_max(%)          0
aerobic(%)          0
anaerobic(%)        0
intensive(%)        0
light(%)            0
dtype: int64

In [43]:
df.total_steps = df.total_steps.fillna(value = 0)
df.avg_pace = df.avg_pace.fillna(value = 0)
df.max_pace = df.max_pace.fillna(value = 0)
df.min_pace = df.min_pace.fillna(value = 0)
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,0.0,18.88,168.54,138.30,0,0,0,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,0.0,29.65,125.92,292.81,0,0,0,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,0.0,17.85,81.93,323.69,0,0,0,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,0.0,25.83,64.55,342.89,0,0,0,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,0.0,28.66,173.30,234.73,0,0,0,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,0.0,9.23,114.34,109.32,0,0,0,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,0.0,7.37,133.97,122.96,0,0,0,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,0.0,10.75,147.65,116.51,0,0,0,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,0.0,25.37,143.41,182.80,0,0,0,96.5,90.0,103,14,32,0,24,83

https://github.com/ashpou1/data-processing-4313/blob/main/imputing%2019.ipynb

(f) (10 points) Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the
column. Recall that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

In [44]:
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max(%)                 int64
aerobic(%)                 int64
anaerobic(%)               int64
intensive(%)               int64
light(%)                   int64
dtype: object

In [45]:
df.avg_pace = pd.to_datetime(df['avg_pace'])

(g) (10 points) Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [46]:
df.groupby('workout_type').calories.agg(['mean','median','count','std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb

(h) (10 points) Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

In [47]:
bal = df['aerobic(%)'] >= (30)
pd.concat([df,pd.DataFrame({'thirty_plus':bal})], axis = 1)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%),thirty_plus
0,2022-01-01,Freestyle,9.30,77,123,0.0,18.88,168.54,138.30,1970-01-01 00:00:00,...,0,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,0.0,29.65,125.92,292.81,1970-01-01 00:00:00,...,0,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,0.0,17.85,81.93,323.69,1970-01-01 00:00:00,...,0,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,2022-03-12 07:58:00,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,0.0,25.83,64.55,342.89,1970-01-01 00:00:00,...,0,138.0,166.0,110,7,0,5,21,88,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,0.0,28.66,173.30,234.73,1970-01-01 00:00:00,...,0,133.5,175.0,92,22,20,15,21,61,False
996,2022-02-14,Freestyle,9.48,61,219,0.0,9.23,114.34,109.32,1970-01-01 00:00:00,...,0,103.0,122.0,84,18,28,2,17,86,False
997,2022-02-14,Freestyle,3.30,40,169,0.0,7.37,133.97,122.96,1970-01-01 00:00:00,...,0,114.5,122.0,107,18,28,2,23,98,False
998,2022-02-14,Indoor Cycling,4.40,47,52,0.0,10.75,147.65,116.51,1970-01-01 00:00:00,...,0,96.0,90.0,102,45,32,0,13,57,True
999,2022-02-14,Indoor Cycling,1.57,116,106,0.0,25.37,143.41,182.80,1970-01-01 00:00:00,...,0,96.5,90.0,103,14,32,0,24,83,True

https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb

(i) (10 points) Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’

In [98]:
df.groupby([df.activity_day.dt.day_name(),df.max_cadence,df.workout_type]).agg('count')

                                          activity_day  distance  time  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling             1         1     1
             54.50       Trekking                    1         1     1
             54.60       Freestyle                   1         1     1
             55.41       Indoor Cycling              1         1     1
             55.75       Freestyle                   1         1     1
...                                                ...       ...   ...
Wednesday    337.74      Walking                     1         1     1
             339.65      Trekking                    1         1     1
             345.65      Pool Swimming               1         1     1
             349.66      Treadmill                   1         1     1
             349.78      Pool Swimming               1         1     1

                                          calories  total_steps  avg_speed  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling         1            1          1
             54.50       Trekking                1            1          1
             54.60       Freestyle               1            1          1
             55.41       Indoor Cycling          1            1          1
             55.75       Freestyle               1            1          1
...                                            ...          ...        ...
Wednesday    337.74      Walking                 1            1          1
             339.65      Trekking                1            1          1
             345.65      Pool Swimming           1            1          1
             349.66      Treadmill               1            1          1
             349.78      Pool Swimming           1            1          1

                                          avg_cadence  avg_pace  max_pace  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling            1         1         1
             54.50       Trekking                   1         1         1
             54.60       Freestyle                  1         1         1
             55.41       Indoor Cycling             1         1         1
             55.75       Freestyle                  1         1         1
...                                               ...       ...       ...
Wednesday    337.74      Walking                    1         1         1
             339.65      Trekking                   1         1         1
             345.65      Pool Swimming              1         1         1
             349.66      Treadmill                  1         1         1
             349.78      Pool Swimming              1         1         1

                                          min_pace  avg_heart_rate  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling         1               1
             54.50       Trekking                1               1
             54.60       Freestyle               1               1
             55.41       Indoor Cycling          1               1
             55.75       Freestyle               1               1
...                                            ...             ...
Wednesday    337.74      Walking                 1               1
             339.65      Trekking                1               1
             345.65      Pool Swimming           1               1
             349.66      Treadmill               1               1
             349.78      Pool Swimming           1               1

                                          max_heart_rate  min_heart_rate  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling               1               1
             54.50       Trekking                      1               1
             54.60       Freestyle                     1               1
             55.41       Indoor Cycling                1               1
             55.75       Freestyle                     1               1
...                                                  ...             ...
Wednesday    337.74      Walking                       1               1
             339.65      Trekking                      1               1
             345.65      Pool Swimming                 1               1
             349.66      Treadmill                     1               1
             349.78      Pool Swimming                 1               1

                                          vo2_max(%)  aerobic(%)  \
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling           1           1
             54.50       Trekking                  1           1
             54.60       Freestyle                 1           1
             55.41       Indoor Cycling            1           1
             55.75       Freestyle                 1           1
...                                              ...         ...
Wednesday    337.74      Walking                   1           1
             339.65      Trekking                  1           1
             345.65      Pool Swimming             1           1
             349.66      Treadmill                 1           1
             349.78      Pool Swimming             1           1

                                          anaerobic(%)  intensive(%)  light(%)
activity_day max_cadence workout_type
Friday       52.70       Outdoor Cycling             1             1         1
             54.50       Trekking                    1             1         1
             54.60       Freestyle                   1             1         1
             55.41       Indoor Cycling              1             1         1
             55.75       Freestyle                   1             1         1
...                                                ...           ...       ...
Wednesday    337.74      Walking                     1             1         1
             339.65      Trekking                    1             1         1
             345.65      Pool Swimming               1             1         1
             349.66      Treadmill                   1             1         1
             349.78      Pool Swimming               1             1         1

[1000 rows x 18 columns]

https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb

(a)
it took me almost 5 hours. longer than exam one because i miss 2 of the classes. 


(b) 
hardest one was the one hot encoder and easiest are strings


(c) 
i will say dates. i always have hard time with dates