<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/EXAM%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

##EXAM 3 
"I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course."

lets load all libraries

---

In [1]:
import pandas as pa
import matplotlib.pyplot as plt
import seaborn as sns

Loading my world cup player data set in panda data frame

---

In [10]:
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/worldCupPlayer.csv')
df.head()

,Unnamed: 0,Rank,player,club,age,Apps,Mins,Goals,Assists,Yel,Red,SpG,PS,AerialsWon,MotM,Rating,nationality
0,0,1,Hakim Ziyech,Ajax,25,34,3043,9,15,4,0,4.9,75.4,0.2,9,8.21,Morocco
1,2,2,Alireza Jahanbakhsh,AZ Alkmaar,24,33,2840,21,12,3,0,4.3,73.4,0.7,14,8.20,Iran
2,4,3,Hirving Lozano,PSV Eindhoven,22,29,2350,17,8,4,2,3.4,75.3,0.6,8,7.90,Mexico
3,6,11,Lasse Schone,Ajax,32,27(3),2350,10,3,6,0,1.9,87.0,1.9,2,7.45,Denmark
4,10,25,Santiago Arias,PSV Eindhoven,26,30,2664,3,6,5,0,1.5,82.3,1,2,7.25,Colombia

##(b) (10 points) Show a table with all the data about your favorite club or nationality. Include some description about an interesting fact in the data.

---

In [9]:
df1 = df.groupby('nationality')
df1.head(100)

,Unnamed: 0,Rank,player,club,age,Apps,Mins,Goals,Assists,Yel,Red,SpG,PS,AerialsWon,MotM,Rating,nationality
0,0,1,Hakim Ziyech,Ajax,25,34,3043,9,15,4,0,4.9,75.4,0.2,9,8.21,Morocco
1,2,2,Alireza Jahanbakhsh,AZ Alkmaar,24,33,2840,21,12,3,0,4.3,73.4,0.7,14,8.20,Iran
2,4,3,Hirving Lozano,PSV Eindhoven,22,29,2350,17,8,4,2,3.4,75.3,0.6,8,7.90,Mexico
3,6,11,Lasse Schone,Ajax,32,27(3),2350,10,3,6,0,1.9,87.0,1.9,2,7.45,Denmark
4,10,25,Santiago Arias,PSV Eindhoven,26,30,2664,3,6,5,0,1.5,82.3,1,2,7.25,Colombia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,1150,200,Giancarlo Gonzalez,Bologna,30,22,1858,0,0,4,2,-,80.6,2.4,0,6.63,Costa Rica
599,1152,217,Stephan Lichtsteiner,Juventus,34,21(6),1715,0,2,6,0,0.1,82.2,0.9,0,6.59,Switzerland
600,1154,235,Dawid Kownacki,Sampdoria,21,6(16),811,5,1,0,0,1,75.4,1.4,0,6.51,Poland
601,1156,265,Emil Hallfredsson,Udinese,33,8(11),761,0,0,5,0,0.1,88.5,0.6,0,6.39,Iceland
602,1158,269,Marcus Rohden,Crotone,27,20(6),1637,2,0,2,0,0.8,67.6,0.8,0,6.35,Sweden

##) (10 points) Create a histogram of the ‘Goals’.

---

##(d) (10 points) Create a histogram of the ‘Goals’ and ‘Assists’ on the same axis.

---

##(e) (10 points) Create a barchart for most goals scored by nationality.

---

##(f) (10 points) Create a boxplot of ‘Yel’ (yellow cards) by nationality.

---

##(g) (10 points) Create ‘Goals’ and ‘Assists’ as scatter. Signify your favorite club or nationality in some way on the scatterplot. You may need to add a new column to the dataset to do so.

---

##(h) (10 points) Create stacked barplot of goals and assists of French National Team. (they won this tourney!) Be sure to comment on why it is appropriate to stack goals and assists.

---

##(i) (10 points) Create a correlation heatmap of the entire dataset.

---

##ABOUT EXAM

---


---
(a) Approximately how long did you work on this exam?


(b) Which was the hardest and easiest topic from this section?


(c) Which method of visualization are you still unclear what it might show?