<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/Proportions%2027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

##PROPORTIONS 27

In [1]:
import pandas as pa
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [3]:
df.groupby('workout_type').workout_type.agg('count')

workout_type
Cricket            93
Freestyle          96
Indoor Cycling     80
Open Water         91
Outdoor Cycling    85
Outdoor Running    81
Pool Swimming      94
Trail Run          90
Treadmill          98
Trekking           94
Walking            98
Name: workout_type, dtype: int64